Flask==3.0.3
Flask-WTF==1.2.1
Flask-Caching==2.3.0
Flask-SQLAlchemy==3.1.1
gunicorn==20.0.4  # Gerenciador de processos para rodar no Railway
Werkzeug==3.0.3
WTForms==3.1.2
marshmallow==3.22.0
spacy==3.7.8
pt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0-py3-none-any.whl#sha256=a3a8eed42c600af17c70ed3c8720ffe2879b5353055e66fe0c998306329052fd
python-dotenv==1.0.1
SQLAlchemy==2.0.31
pyodbc==5.1.0
psycopg2-binary==2.9.8  # Para uso com PostgreSQL se necessário
requests==2.28.2
Jinja2==3.1.2
itsdangerous==2.2.0
click==8.1.7
certifi==2022.12.7
MarkupSafe==2.1.1
greenlet==3.0.3
blis==0.7.11
catalogue==2.0.10
cymem==2.0.8
srsly==2.4.8
preshed==3.0.9
thinc==8.2.5
wasabi==0.10.1
numpy==1.26.4
packaging==21.3
tqdm==4.66.4
pandas==1.5.0