Flask==3.0.3
Flask-WTF==1.2.1
Flask-Caching==2.3.0
Flask-SQLAlchemy==3.1.1
gunicorn==20.1.0
Werkzeug>=3.0.0  # Permite que pip resolva a versão correta
WTForms==3.1.2
marshmallow==3.22.0
spacy>=3.5,<4.0
python-dotenv==1.0.1
pyodbc==5.1.0
requests==2.28.2
Jinja2==3.1.2
itsdangerous==2.2.0
click==8.1.7
certifi==2022.12.7
MarkupSafe==2.1.1
numpy==1.26.4
pandas==1.5.0
SQLAlchemy==2.0.31
